/*Primary Colors*/
/*Secondary Colors*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alternative/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir";
}

/*Responsiveness*/
/*Type Kit*/
/*Layout Grid*/
/*Padding*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "avenir";
}

label {
  color: #afafaf;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

::-moz-placeholder {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}

:-ms-input-placeholder {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}

::placeholder {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  ::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  :-ms-input-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  ::placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #0095ff;
}

.current-video {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .current-video {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .current-video {
    margin: 0 auto;
  }
}
.current-video__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .current-video__title {
    font-size: 2.063rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .current-video__title {
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .current-video__title {
    padding-bottom: 1.5rem;
  }
}
.current-video__container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .current-video__container {
    border-top: none;
    padding-bottom: 0.5rem;
  }
}
.current-video__container-left {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .current-video__container-left {
    flex-direction: row;
  }
}
.current-video__channel {
  color: #323232;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .current-video__channel {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .current-video__channel {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .current-video__channel {
    padding: 0;
    margin-right: 2rem;
  }
}
.current-video__date {
  color: #afafaf;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .current-video__date {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.current-video__container-right {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .current-video__container-right {
    flex-direction: row;
  }
}
.current-video__views-container {
  display: flex;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .current-video__views-container {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .current-video__views-container {
    padding-bottom: 0;
  }
}
.current-video__views--icon {
  margin-right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .current-video__views--icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.current-video__views {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .current-video__views {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.current-video__likes-container {
  display: flex;
}
@media screen and (min-width: 768px) {
  .current-video__likes-container {
    margin-left: 2rem;
  }
}
.current-video__likes--icon {
  margin-right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .current-video__likes--icon {
    width: 1.25rem;
    height: 1.5rem;
  }
}
.current-video__likes {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .current-video__likes {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.current-video__description {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .current-video__description {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .current-video__description {
    padding-top: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .current-video__description {
    padding-bottom: 1.5rem;
  }
}
.current-video__comment-count {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: #323232;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .current-video__comment-count {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .current-video__comment-count {
    padding-bottom: 1.5rem;
  }
}/*# sourceMappingURL=VideoInfo.css.map */