@use "../../App.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;

.info__container {
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.info__container-left {
  @include desktop {
    width: 50vw;
    margin-left: 10rem;
  }
}
