/*Primary Colors*/
/*Secondary Colors*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/alternative/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/alternative/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir";
}

/*Responsiveness*/
/*Type Kit*/
/*Layout Grid*/
/*Padding*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "avenir";
}

label {
  color: #afafaf;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

::-moz-placeholder {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}

:-ms-input-placeholder {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}

::placeholder {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}
@media screen and (min-width: 768px) {
  ::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  :-ms-input-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  ::placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #0095ff;
}

.commentBox {
  margin: 0 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #e1e1e1;
}
@media screen and (min-width: 768px) {
  .commentBox {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .commentBox {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .commentBox {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .commentBox {
    border-bottom: none;
    padding-right: 1.5rem;
  }
}
.commentBox__avatar {
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  background-color: #e1e1e1;
  margin-top: 1.75rem;
}
.commentBox__form {
  margin-left: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .commentBox__form {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .commentBox__text-container {
    width: 80%;
  }
}
.commentBox__text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "avenir";
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  color: #323232;
  padding: 0.75rem;
  background-color: #fafafa;
  height: 6rem;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .commentBox__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .commentBox__text {
    height: 2.5rem;
    width: 62vw;
    padding: 0.5rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .commentBox__text {
    width: 30vw;
  }
}
@media screen and (min-width: 768px) {
  .commentBox__button-container {
    position: relative;
  }
}
.commentBox__button {
  background-color: #0095ff;
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 2.5rem;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .commentBox__button {
    width: 9.375rem;
    margin-top: 0.6rem;
  }
}
.commentBox__button:hover {
  background-color: #0065ad;
}
.commentBox__button--icon {
  position: absolute;
  left: 0.75rem;
  bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .commentBox__button--icon {
    width: 1.2rem;
    height: 1.12rem;
    bottom: 0.7rem;
  }
}/*# sourceMappingURL=CommentForm.css.map */