@use "../../App.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videoplayer {
  &__container {
    background-color: $brainflix-darkblack;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__video {
    width: 100%;
    @include tablet {
      width: auto;
      height: 85vh;
    }
    @include desktop {
      width: auto;
      height: 98vh;
    }
  }
}
