@use "./styles/partials/_variables.scss" as *;
@use "./styles/partials/_fonts.scss" as *;
@use "./styles/partials/_mixins.scss" as *;
@use "./styles/partials/_reset.scss" as *;

body {
  font-family: "avenir";
}

label {
  color: $silver;
  @include label-button;
}

::placeholder {
  @include body-copy;
  color: $brainflix-black;
}

input,
textarea {
  &:focus {
    outline: none;
    border: 2px solid $brainflix-blue;
  }
}
